*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ebf2ff !important;
}

.mobile_only_btn{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    background-color: white;
    width: 100%;
    z-index: 2;
}

@media only screen and (min-width: 768px){
    .mobile_only_btn{
        display:none;
    }
}